
.footer {
    padding: 10px 20px;
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(14,9,121,1) 85%, rgba(0,129,255,1) 100%);
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.footer p {
    margin: 0;
    color: white;
    font-size: 0.875rem;
}
